<div class="pt-3 text-center">
    <i class="fas fa-copyright fa-fw"></i> 2018
    <a class="no-line" href="https://github.com/KevinNovak" target="_blank">Kevin Novak</a>
</div>
<div class="pt-2 text-center">
    <a class="no-line" href="https://github.com/KevinNovak/Matrix" target="_blank">View Source
        <i class="fab fa-github fa-fw"></i>
    </a>
</div>
<div class="pt-2 pb-5 text-center">
    Built with:
    <a class="no-line" href="http://www.mosca.io/" target="_blank">Mosca</a>,
    <a class="no-line" href="https://www.npmjs.com/package/mqtt" target="_blank">MQTT.js</a>,
    <a class="no-line" href="https://www.eclipse.org/paho/clients/python/" target="_blank">Paho Python</a>
</div>