<div class="pt-3 text-center">
    <i class="fas fa-copyright fa-fw"></i> 2018
    <a class="no-line" href="https://github.com/KevinNovak">Kevin Novak</a>
</div>
<div class="pt-2 text-center">
    <a class="no-line" href="https://github.com/KevinNovak/Matrix">View Source
        <i class="fab fa-github fa-fw"></i>
    </a>
</div>
<div class="pt-2 pb-5 text-center">
    Built with:
    <a class="no-line" href="http://www.mosca.io/">Mosca</a>,
    <a class="no-line" href="https://www.npmjs.com/package/mqtt">MQTT.js</a>,
    <a class="no-line" href="https://www.eclipse.org/paho/clients/python/">Paho Python</a>
</div>