<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Matrix</title>
<link rel="shortcut icon" href="./img/favicon.ico" />

<!-- Open Graph -->
<meta property="og:url" content="http://kevinnovak.me/matrix/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Matrix" />
<meta property="og:description" content="Color an LED matrix in real-time." />
<meta property="og:image" content="https://i.imgur.com/xKW0vTJ.png" />

<!-- MQTT.js -->
<script type="text/javascript" src="https://unpkg.com/mqtt@2.17.0/dist/mqtt.js"></script>
<!-- HTTP Live Player -->
<script type="text/javascript" src="https://cdn.rawgit.com/131/h264-live-player/master/vendor/dist/http-live-player.js"></script>
<!-- Custom JS -->
<script type="text/javascript" src="./scripts/dist/matrix.js"></script>

<!-- Font Awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"></script>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<!-- Custom CSS -->
<link rel="stylesheet" href="./styles/custom.css">
<link rel="stylesheet" href="./styles/colors.css">

<!-- Base -->
<base target="_blank">