/* Used for aspect ratios */
#live-stream {
    width: 90%;
    height: 90%;
    margin: 5%;
}

.btn {
    display: block;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    border: 1px solid red;
    margin: 0 auto;
}

div.stretchy-wrapper {
    position: relative;
}

div.stretchy-wrapper>div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body,
html {
    height: 100%;
}

div.outline {
    outline-width: 3px;
    outline-offset: -3px;
}

div.outline.solid {
    outline-style: solid;
}

div.outline.dashed {
    outline-style: dashed
}

.center {
    margin: 0 auto;
    width: 100%;
}

#grid {
    width: 90%;
    height: 90%;
    margin: 5%;
}

.cell {
    outline: 1px dashed green;
    outline-offset: -1px;
    float: left;
    height: 12.5%;
    width: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-padding {
    padding: 0 !important;
}