<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div class="container-fluid">
        {{> content}}
    </div>
    <footer id="footer" class="page-footer mt-4">
        {{> footer}}
    </footer>
</body>

</html>
</body>

</html>