.color-1 {
    background-color: #b21f35
}

.color-2 {
    background-color: #d82735
}

.color-3 {
    background-color: #ff7435
}

.color-4 {
    background-color: #ffa135
}

.color-5 {
    background-color: #ffcb35
}

.color-6 {
    background-color: #fff735
}

.color-7 {
    background-color: #00753a
}

.color-8 {
    background-color: #009e47
}

.color-9 {
    background-color: #16dd36
}

.color-10 {
    background-color: #0052a5
}

.color-11 {
    background-color: #0079e7
}

.color-12 {
    background-color: #06a9fc
}

.color-13 {
    background-color: #681e7e
}

.color-14 {
    background-color: #7d3cb5
}

.color-15 {
    background-color: #bd7af6
}

.color-16 {
    background-color: #dddddd
}