.color-1 {
    background-color: #dc143c
}

.color-2 {
    background-color: #ff0000
}

.color-3 {
    background-color: #ff6600
}

.color-4 {
    background-color: #ffa500
}

.color-5 {
    background-color: #ffff00
}

.color-6 {
    background-color: #80ff00
}

.color-7 {
    background-color: #00ff00
}

.color-8 {
    background-color: #00fa9a
}

.color-9 {
    background-color: #00ffff
}

.color-10 {
    background-color: #1e90ff
}

.color-11 {
    background-color: #0000ff
}

.color-12 {
    background-color: #4169e1
}

.color-13 {
    background-color: #a020f0
}

.color-14 {
    background-color: #8b008b
}

.color-15 {
    background-color: #ff00ff
}

.color-16 {
    background-color: #ffc0cb
}

.color-17 {
    background-color: #ffffff
}

.color-18 {
    background-color: #dddddd
}