.color-1 {
    background-color: #DC143C
}

.color-2 {
    background-color: #FF0000
}

.color-3 {
    background-color: #ff6600
}

.color-4 {
    background-color: #FFA500
}

.color-5 {
    background-color: #FFFF00
}

.color-6 {
    background-color: #80ff00
}

.color-7 {
    background-color: #00FF00
}

.color-8 {
    background-color: #00FA9A
}

.color-9 {
    background-color: #00FFFF
}

.color-10 {
    background-color: #1E90FF
}

.color-11 {
    background-color: #0000FF
}

.color-12 {
    background-color: #4169E1
}

.color-13 {
    background-color: #8B008B
}

.color-14 {
    background-color: #FF00FF
}

.color-15 {
    background-color: #FFC0CB
}

.color-16 {
    background-color: #ffffff
}

.color-17 {
    background-color: #dddddd
}

.color-18 {
    background-color: #dddddd
}

.color-19 {
    background-color: #dddddd
}

.color-20 {
    background-color: #dddddd
}