/* Containers */

#led-grid-container,
#live-stream-container {
    padding: 15px;
}

#description-container {
    padding: 15px;
    height: calc(50% + 30px);
}

#led-grid-border {
    /* 1:1 Apsect Ratio */
    padding-bottom: 100%;
}

#live-stream-border {
    /* 16:9 Apsect Ratio */
    padding-bottom: 56.25%;
}

#description-border {
    height: 100%;
}

#led-grid-controller {
    height: 200px;
    padding: 15px;
}

/* Grids */

#led-grid {
    width: 90%;
    height: 90%;
    margin: 5%;
}

#color-grid {
    width: 100%;
    height: 70%;
}

#control-grid {
    width: 100%;
    height: 30%;
}

/* Cells */

.cell {
    outline: 1px dashed aqua;
    outline-offset: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.cell.led {
    height: 12.5%;
    width: 12.5%;
}

.cell.color {
    height: 25%;
    width: 20%;
}

.cell.control {
    height: 100%;
    width: 50%;
}

/* Buttons */

.btn {
    display: block;
    border: 1.5px solid black;
    margin: 0 auto;
}

.btn.led {
    height: 70%;
    width: 70%;
    border-radius: 50%;
}

.btn.color {
    height: 70%;
    width: 80%;
    opacity: 0.6;
}

.btn.color.active {
    border: 5 px solid black;
    opacity: 1;
}

.btn.control {
    height: 70%;
    width: 80%;
    font-size: 15px;
    font-weight: 600;
}

/* Live stream */

#live-stream {
    width: 100%;
    height: 100%;
    background-color: black;
}

/* Outlines */

.outline {
    outline-width: 3px;
    outline-offset: -3px;
}

.outline.solid {
    outline-style: solid;
}

.outline.dashed {
    outline-style: dashed;
}

/* Text */

#header {
    margin-top: 30px;
}

/* Images */
#github-logo {
    height: 50%;
    width: auto
}

/* Helpful */

.center {
    margin: 0 auto;
    width: 100%;
}

.center-text {
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

div.stretchy-wrapper {
    position: relative;
}

div.stretchy-wrapper>div,
div.stretchy-wrapper>iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}